**Sonal Shukla**

**CS23176**

**AIM:**
Understanding google colab and python libraries for machine learning [numpy,matplotlib,pandas,seaborn,scikit-learn]

**NUMPY**

In [ ]:
import numpy as np
array=[1,2,3,4,5]
numpy_array = np.array(array)
print(numpy_array)

In [ ]:
#ARRAY OPERATIONS
a=np.array([1,2,3,4])
b=np.zeros((2,3))
c=np.ones((3,3))
d=np.arange(0,10,2)
e=np.random.rand(3,3)

In [ ]:
print(a.shape)
print(a.mean())
print(a.std())
print(np.sum(a))
print(np.max(a))

In [ ]:
#MATRIX OPERATIONS
x=np.array([[1,2],[3,4]])
y=np.array([[5,6],[7,8]])
print(np.dot(x,y))
print(np.transpose(x))

**PANDAS - Data handling & Preprocessing**

In [ ]:
import pandas as pd

In [ ]:
data={
    'Age':[25,30,35,40],
    'Salary':[30000,50000,70000,90000],
    'Department':['IT','HR','IT','Finance']
}
df=pd.DataFrame(data)
print(df)

In [ ]:
print(df.shape)

In [ ]:
print(df.head())

In [ ]:
print(df.info())

In [ ]:
print(df.describe())

In [ ]:
print(df['Salary'])
print(df[['Age','Department']])

In [ ]:
df['Salary'].fillna(df['Salary'].mean(),inplace=True)

In [ ]:
df_encoded=pd.get_dummies(df,drop_first=True)
print(df_encoded)

**MATPLOTLIB**

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x=[1,2,3,4]
y=[10,20,25,30]

In [ ]:
plt.plot(x,y)
plt.xlabel('X-Values')
plt.ylabel('Y-Values')
plt.title('Line Plot')
plt.show()

In [ ]:
plt.bar(x,y)
plt.title('Bar Plot')
plt.xlabel('X-Values')
plt.ylabel('Y-Values')
plt.show()

In [ ]:
plt.scatter(x,y)
plt.title('Scatter Plot')
plt.show()

**SEABORN**

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#LOAD SAMPLE DATASET
data=sns.load_dataset("iris")

In [ ]:
sns.pairplot(data,hue='species')
plt.show()

In [ ]:
corr=data.corr(numeric_only=True)
sns.heatmap(corr,annot=True)
plt.show()

In [ ]:
sns.boxplot(x='species',y='sepal_length',data=data)
plt.show()

**SCIKIT-LEARN**

**(A) Train-Test Split & Preprocesing**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler